.email-verify{
    margin: auto;
    width: 40%;
    min-height: 60vh;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    border: 1px solid rgb(157, 155, 155);
    text-align: center;
    background: linear-gradient(90deg, rgba(241, 55, 55, 0.9810049019607843) 0%, rgba(32, 39, 136, 1) 100%);
  }
  
  .otp-content{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .otp-content .email-input-item{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .otp-content input{
    
    border-radius: 5px;
    border: 2px solid black;
    height: 45px;
    width: 45px;
    padding: 10px;
    font-size: 20px;
  }
  
  .otp-content input:focus{
    outline: none;
    border: 2px solid red;
  
  }
  
  .otp-content .filled{
    border: 2px solid rgb(5, 176, 5);
  }
  
  .email-verify-head{
    color: white;
    width: 90%;
    margin: auto;
  }
  
  .email-verify-head h1{
    margin: 0 0 10px 0;
  }
  .email-verify-head img{
    width: 10vw;
    /* border: 1px solid red; */
  }
  
  .email-verify .otp-content button{
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius:5px;
    border: 2px solid rgb(255, 48, 48);
    color: white;
    background-color: rgb(255, 48, 48);
    transition: 0.5s;
  }
  
  .email-verify button:hover{
    background-color: black;
  }