*{
    padding: 0%;
    margin: 0%;
}

.login-page{
    display: flex;
    width: 80%;
    min-height: 85vh;
    /* border: 1px solid rgb(235, 229, 229);
    border-radius: 30px; */
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    /* background: linear-gradient(90deg, rgba(210, 238, 255, 0.981) 0%, rgb(33, 47, 240) 100%); */
    gap: 2rem;
}
.login-page .side-temp{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
 
}
.login-page h1{
   
    text-align: center;
    margin-bottom: 20px;
}
.side-temp img{
    width:50%;
}
.login-page form{
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    width: 33%;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    
}
.login-page form h1{
    width: 90%;
    text-align: center;
    font-size: 35px;
    color: #e40814;
    margin-bottom: 0px;
}
.input-box-login label{
    transition: 0.3s;
}

.input-box-login{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
}
.input-box-login label{
    color: rgb(140, 137, 137);
    position: absolute;
    transform: translateX(10px) translateY(10px);
    pointer-events: none;
}
.input-box-login input:focus~label, .input-box-login input:valid~label{
    transform: translateY(-25px);
    color: white    ;
}
.login-page form input{
    margin-bottom: 0;
    outline: none;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    border: 1px solid rgb(123 122 122 / 16%);
    padding: 5px;
}
/* .login-page form .forget-signup-link{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    padding: 0 2rem;
} */
.login-page form .forget-signup-link {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px 0px;
}
.login-page form .forget-signup-link a{
    /* color: white; */
    text-decoration:solid !important;
}

.login-page form button{
    margin: auto;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #E40814;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-page form button:hover{
    background-color: rgb(163, 13, 13);
}

