*{
    padding: 0%;
    margin: 0%;
}

.login-page{
    display: flex;
    width: 80%;
    min-height: 85vh;
    border: 1px solid rgb(235, 229, 229);
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(210, 238, 255, 0.981) 0%, rgb(33, 47, 240) 100%);
    gap: 2rem;
}
.login-page .side-temp{
    width: 45%;
 
}
.login-page h1{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.login-page form{
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    width: 40%;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    
}
.login-page form h1{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 40px;
}
.login-page form .emailLablel{
    position: absolute;
    top: 33.5%;
    left: 10px;
    pointer-events: none;
}
.input-box label{
    transition: 0.3s;
}
.login-page form .passLablel{
    position: absolute;
    top: 56.5%;
    left: 10px;
    pointer-events: none;
}
.input-box input:focus~label, .input-box input:valid~label{
    transform: translateY(-35px) translateX(-10px);
    color: white;
}

.login-page form input{
    /* margin: auto; */
    outline: none;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    border: 2px solid rgb(240, 236, 236);
    padding: 5px;
}
.login-page form .forget-signup-link{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 1rem;
    padding: 0 2rem;
}

.login-page form .forget-signup-link a{
    color: white;
    text-decoration:solid !important;
}

.login-page form button{
    margin: auto;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #E40814;
    color: white;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-page form button:hover{
    background-color: rgb(163, 13, 13);
}

