@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    
}

.registration-box {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
    width: 80%;
    height: 90vh;
    margin: auto;
    border-radius: 25px;
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    background: linear-gradient(90deg, rgba(210, 238, 255, 0.981) 0%, rgb(33, 47, 240) 100%);
}

.content {
    width: 45%; 
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    /* border-radius: 15px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 1px 5px 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid red; */
}
.disc img{
    position: absolute;  
}

.disc .keyboy{
    z-index: 10;
    bottom: 20px;
    left: 10px;
    /* animation-name: toofoo;
    animation-timing-function: ease-in-out;
    animation-duration: 8s;
    animation-iteration-count: infinite; */
    
}

.disc .loginsecurity{
    width: 150px;
    z-index: 5;
    top: 160px;
    left: 30px;
    animation-name: toofoo2;
    animation-timing-function: ease-in-out;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}
.disc .market{
    width: 250px;
    z-index: 8;
    bottom: 80px;
    right: 10px;
    animation-name: toofoo;
    animation-timing-function: ease-in-out;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}
.disc .robot{
    width: 250px;
}

.disc .aimLogo{
    width: 100px;
    top: 30px;
    left: 35%;
}
.registration-from{
    position: relative;
}

.registration-from form label{
    z-index: 20;
    width: 50%;
    position: absolute;
    transform: translateX(-395px) translateY(10px);
    pointer-events: none;
}
.input-box label{
    opacity: 0.7;
    transition: 0.3s;
}
.input-box input:focus~label, .input-box input:valid~label{
    transform: translateY(-22px) translateX(-403px) !important;
    color: white !important;
    opacity: 1;
}

@keyframes toofoo{
    0% {transform: translateY(-15px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(-15px);}
}
@keyframes toofoo2{
    0% {transform: translateX(-10px);}
    50% {transform: translateX(0px);}
    100% {transform: translateX(-10px);}
}

#registration-from {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#registration-from .img{
    margin: auto; 
}

#registration-from .img img{
    width: 80px;
}

#registration-from .form-item{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

#registration-from .form-item h1{
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

#registration-from .form-item label{
    padding-bottom: 5px;
}
#registration-from .form-item input{
    width: 90%;
    height: 40px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid rgb(123, 122, 122);
    border-radius: 5px;
}

#registration-from .form-item input:focus{
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 2px solid rgb(255, 61, 61);
}

#registration-from .form-item input::placeholder{
    color: rgb(170, 169, 169);
    letter-spacing: 2px;
}

#registration-from .form-item button{
    cursor: pointer;
    margin: auto;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1.1rem;
    background-color: #E40814;
    letter-spacing:1px;
    transition: 0.5s;

}

#registration-from .form-item button:hover{
    background-color: black;
}

