.studentProfile{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(183, 183, 183);
    width: 50%;
    min-height: 50vh;
    border-radius: 35px;
    margin: auto;
    margin-top: 40px;
    background: rgb(241, 55, 55);
    background: linear-gradient(90deg, rgba(241, 55, 55, 0.9810049019607843) 0%, rgba(32, 39, 136, 1) 100%);

    
}
.studentProfile .counting{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.studentProfile button{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: rgb(248, 42, 42);
    border: none;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
}

.studentProfile button:hover{
    background-color: rgb(155, 8, 8);
}

.input-item, .input-details-confirm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
    
}
.input-item label{
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;

}

.input-item input[type="button"]{
    cursor: pointer;
    background-color: red;
    font-size: 18px;
    transition: 0.3s;
    
}


 input[type="button"]:hover, [type="submit"]:hover{
    background-color: rgb(136, 9, 9);

}

.input-details-confirm{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.input-details-confirm input[type="submit"]{
    margin: 10px 0;
    cursor: pointer;
    background-color: red;
    font-size: 18px;

}
.input-details-confirm span{
    color: rgb(216, 216, 216);
}
