@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;

}


a{
  text-decoration: none;
  color: white;
}

.nav{
  display: flex;
  height: 60px;
  background-color: black;
  /* border-bottom: 2px solid rgb(255, 47, 47); */
  align-items: center;
  padding: 0 20px;

}
.nav .logo{
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav .logo img{
  width: 70px;
}
.nav .items{
  display: flex;
  justify-content: right;
  width: 100%;
  gap: 2.5rem;
  position: relative;
}
.nav .items a{
  padding: 10px;
  transition: 0.3s;
}
.nav .items a:hover{
  color: red;
}


/* ==========DropDown========= */

.dropdowmItem{
  background-color: rgb(10, 10, 10);
  min-width:300px;
  height: 210px;
  border-top-left-radius : 5px;
  border-bottom-left-radius : 5px;
  display: flex;
  display: none;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 40px;
  /* right: 202px; */
  z-index: 20;
  transition: 0.6s;
}

.dropdown{
  padding: 10px;
  cursor: pointer;
}
.dropdown:hover .dropdowmItem{
  display: flex;
  position: absolute;
  /* right: 500px; */
}

.dropdowmItem div{
  background-color: rgb(63, 63, 63);
  width: 300px;
  height: 210px;
  text-align: center;
  display:none;
  flex-direction: column;
  border-top-right-radius : 5px;
  border-bottom-right-radius : 5px;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  left: -297px;
  z-index: 100;
}
.dropdowmItem div:hover{
  display: flex;
  align-items: center;
}

.dropdowmItem div a{
  width: 100%;
  padding: 10px 10px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(103, 102, 102);
}
.dropdowmItem a:hover{
  background-color: rgb(63, 63, 63);
}
.dropdowmItem div  a:hover{
  background-color: rgb(0, 0, 0);
}

.dropdowmItem .webdev:hover + .webdev-s-c{
  display: flex;
  
}
.dropdowmItem .digitalmarketing:hover + .digitalmarketing-s-c{
  display: flex;
  
}
.dropdowmItem .bussinessmanagement:hover + .bussinessmanagement-s-c{
  display: flex;
}
.dropdowmItem .dataanalytics:hover + .dataanalytics-s-c{
  display: flex;
}
.dropdowmItem .qualityassurance:hover + .qualityassurance-s-c{
  display: flex;
}