*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: white;
}

.nav{
  display: flex;
  height: 60px;
  background-color: black;
  border-bottom: 2px solid rgb(255, 47, 47);
  align-items: center;
  padding: 0 20px;

}
.nav .logo{
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav .logo img{
  width: 70px;
}
.nav .items{
  display: flex;
  justify-content: right;
  width: 100%;
  gap: 5rem;
}